tests/
domain/dataAccess/ShelveDatabase/salesdb/
domain/dataAccess/DjangoDataAccess/
web/uploaded/productphotos/
domain/services/__pycache__/
web/bizops_backend/sales_api/__pycache__/
domain/controllers/__pycache__/
web/bizops_backend/db.sqlite3
